Java/soduku/.settings/org.eclipse.core.resources.prefs
Java/soduku/.settings/org.eclipse.jdt.apt.core.prefs
Java/soduku/.settings/org.eclipse.jdt.core.prefs
Java/soduku/.settings/org.eclipse.m2e.core.prefs
Java/soduku/target/classes/com/csnowss/App.class
Java/soduku/target
